.header {
    border : 2px solid rgb(250, 122, 122);
    border-bottom-width: 4px;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 10px;
    border-radius: 2px;
}

.container {
    display: flex;
    margin-top: 50px;
}

form {
    border: 3px solid rgb(33, 189, 189);
    box-shadow: 10px;
    border-radius: 3px;
    height: 300px;
    width: 45%;
    padding: 100px;
}
.second-div {
    border: 3px solid rgb(33, 189, 189);
    box-shadow: 10px;
    border-radius: 3px;
    height: 300px;
    width: 45%;
    margin-left: 5px;
    padding: 100px;
    overflow: scroll;
}

.search-tweet {
    margin-left: 900px; 
    /* width: 36%px; */
    /* margin-top: 240px; */
    position: absolute;
    display: flex;
}
.icon {
    /* position: absolute; */
    margin-left: 5px;
    margin-top: 10px;
}

.message {
    margin-left: 640px;
    margin-top: 80px;
    position: absolute;
}
.submit-btn {
    position: absolute;
    margin-top:5px;
    width: 14%;
}